# Mẫu hình 3 cây nến - Horizontal Pyramid - Analytics

In [20]:
# Horizontal Pyramid Falling
# Điều kiện:

# Nến 1: đỏ (bearish).

# Nến 2: xanh (bullish).

# Nến 3: đỏ (bearish).

# Thân nến: to dần từ nến 1 → nến 2 → nến 3.

# Đặc điểm:

# Đây là một dạng reversal/continuation trap hơn là pattern cổ điển.

# Vì thân nến 2 (xanh) lớn hơn thân nến 1 (đỏ), thể hiện lực hồi phục mạnh. Nhưng sau đó nến 3 đỏ lại lớn hơn cả nến 2, cho thấy phe bán "nuốt trọn" và còn mạnh hơn lực hồi.

# Nó khá giống một biến thể của Bearish Engulfing mở rộng trong 3 nến (Extended Bearish Engulfing) – tức là một cú hồi nhỏ (nến xanh ở giữa) rồi bị lực bán quét sạch bằng cây đỏ mạnh hơn.

# Ý nghĩa giao dịch:

# Xuất hiện ở vùng kháng cự mạnh → xác nhận tín hiệu đảo chiều giảm.

# Xuất hiện trong xu hướng giảm → đóng vai trò continuation (tiếp diễn giảm).

# Thân nến to dần (progressive body) càng củng cố sức mạnh của phe kiểm soát cuối cùng (ở đây là phe bán).

In [21]:
# Horizontal Pyramid Rising tuong tu

### Import Library

In [22]:
import numpy as np
import pandas as pd
import numpy as np
import pandas_ta as ta
import seaborn as sns

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120
import warnings
warnings.filterwarnings('ignore')

### Load Price Data

In [23]:
import os
from pathlib import Path
notebook_path = os.getcwd()
current_dir = Path(notebook_path)
csv_file = str(current_dir) + '/VN30F1M_5minutes.csv'
is_file = os.path.isfile(csv_file)
if is_file:
    dataset = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
else:
    print('remote')
    dataset = pd.read_csv("https://raw.githubusercontent.com/zuongthaotn/vn-stock-data/main/VN30ps/VN30F1M_5minutes.csv", index_col='Date', parse_dates=True)

In [24]:
data = dataset.copy()

In [25]:
# data = data[data.index > '2020-11-01 00:00:00']

In [26]:
data

                       Open    High     Low   Close  Volume
Date
2018-08-13 09:00:00   943.5   943.6   942.9   943.1    1812
2018-08-13 09:05:00   943.1   943.5   942.9   943.3    1323
2018-08-13 09:10:00   943.2   943.3   942.6   943.1    1207
2018-08-13 09:15:00   943.1   943.1   942.3   942.6    1196
2018-08-13 09:20:00   942.6   943.7   942.4   943.7    1765
...                     ...     ...     ...     ...     ...
2025-09-11 09:50:00  1801.5  1801.5  1785.6  1786.0   19912
2025-09-11 09:55:00  1786.0  1789.8  1780.0  1785.9   18283
2025-09-11 10:00:00  1786.5  1790.0  1782.4  1787.1   11336
2025-09-11 10:05:00  1787.5  1788.7  1782.1  1785.5    5753
2025-09-11 10:10:00  1785.6  1787.7  1782.3  1783.5    5448

[89698 rows x 5 columns]

In [27]:
data = data[data.index.hour + data.index.minute != 1130]

In [28]:
data['color'] = data.apply(lambda r: 'doji' if r["Close"] == r["Open"] else ("green" if r["Close"] > r["Open"] else "red"), axis=1)

In [29]:
data['color_s1'] = data['color'].shift(1)
data['color_s2'] = data['color'].shift(2)

In [30]:
data['body'] = data.apply(lambda r: abs(r["Close"] - r["Open"]), axis=1)
data['body_s1'] = data['body'].shift(1)
data['body_s2'] = data['body'].shift(2)

In [31]:
def get_pattern(r):
    if not (r["body_s2"] < r["body_s1"] and r["body_s1"] < r["body"]):
        return ''
    pattern = ''
    if r['color_s2'] == "red" and r['color_s1'] == "green" and  r['color'] == "red":
        pattern = 'falling'
    elif r['color_s2'] == "green" and r['color_s1'] == "red" and  r['color'] == "green":
        pattern = 'rising'
    return pattern

In [32]:
data['pattern'] = data.apply(lambda r: get_pattern(r), axis=1)

In [33]:
data[data.pattern != '']

,Open,High,Low,Close,Volume,color,color_s1,color_s2,body,body_s1,body_s2,pattern
Date,,,,,,,,,,,,
2018-08-13 10:40:00,944.9,945.0,943.7,943.7,936,red,green,red,1.2,0.9,0.2,falling
2018-08-14 10:05:00,955.1,955.8,955.0,955.7,848,green,red,green,0.6,0.4,0.1,rising
2018-08-15 11:25:00,956.5,958.2,956.5,958.2,1603,green,red,green,1.7,1.1,0.2,rising
2018-08-16 13:50:00,940.6,942.2,940.5,942.2,1487,green,red,green,1.6,1.3,0.2,rising
2018-08-17 09:25:00,952.5,953.6,952.5,953.6,1638,green,red,green,1.1,0.8,0.1,rising
...,...,...,...,...,...,...,...,...,...,...,...,...
2025-09-09 14:20:00,1802.0,1811.0,1797.7,1810.0,15092,green,red,green,8.0,6.2,1.6,rising
2025-09-10 09:30:00,1823.8,1827.0,1823.1,1826.6,4659,green,red,green,2.8,1.3,0.1,rising
2025-09-10 10:55:00,1812.8,1813.5,1806.8,1809.7,9992,red,green,red,3.1,0.7,0.4,falling
2025-09-10 13:10:00,1816.9,1816.9,1813.5,1814.3,3273,red,green,red,2.6,2.0,0.6,falling
2025-09-11 10:05:00,1787.5,1788.7,1782.1,1785.5,5753,red,green,red,2.0,0.6,0.1,falling

In [34]:
data[data.index >= '2025-09-11 08:05:00']

,Open,High,Low,Close,Volume,color,color_s1,color_s2,body,body_s1,body_s2,pattern
Date,,,,,,,,,,,,
2025-09-11 09:00:00,1826.9,1827.0,1820.2,1820.8,7647,red,doji,green,6.1,0.0,1.9,
2025-09-11 09:05:00,1820.7,1821.8,1819.0,1819.8,5180,red,red,doji,0.9,6.1,0.0,
2025-09-11 09:10:00,1819.6,1819.8,1817.1,1818.7,4983,red,red,red,0.9,0.9,6.1,
2025-09-11 09:15:00,1819.0,1820.5,1815.5,1816.1,7634,red,red,red,2.9,0.9,0.9,
2025-09-11 09:20:00,1815.9,1818.0,1815.0,1816.9,4503,green,red,red,1.0,2.9,0.9,
2025-09-11 09:25:00,1816.9,1817.5,1809.3,1809.9,12184,red,green,red,7.0,1.0,2.9,
2025-09-11 09:30:00,1809.3,1809.9,1800.3,1803.0,16174,red,red,green,6.3,7.0,1.0,
2025-09-11 09:35:00,1803.0,1807.8,1802.0,1804.0,9699,green,red,red,1.0,6.3,7.0,
2025-09-11 09:40:00,1803.9,1805.3,1800.6,1800.9,7667,red,green,red,3.0,1.0,6.3,
2025-09-11 09:45:00,1800.6,1805.9,1799.1,1801.7,10259,green,red,green,1.1,3.0,1.0,
2025-09-11 09:50:00,1801.5,1801.5,1785.6,1786.0,19912,red,green,red,15.5,1.1,3.0,
2025-09-11 09:55:00,1786.0,1789.8,1780.0,1785.9,18283,red,red,green,0.1,15.5,1.1,
2025-09-11 10:00:00,1786.5,1790.0,1782.4,1787.1,11336,green,red,red,0.6,0.1,15.5,
2025-09-11 10:05:00,1787.5,1788.7,1782.1,1785.5,5753,red,green,red,2.0,0.6,0.1,falling
2025-09-11 10:10:00,1785.6,1787.7,1782.3,1783.5,5448,red,red,green,2.1,2.0,0.6,